apiVersion: apps/v1
kind: Deployment
metadata:
  name: personal-website-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: personal-website
  template:
    metadata:
      labels:
        app: personal-website
    spec:
      containers:
      - name: personal-website
        image: jackkieny/personal-website
        ports:
        - containerPort: 80
